
  select * from Categories
  select * from Products
  select * from Customers
  select * from Suppliers

  select * from Purchases
  insert into Purchases values(46,21-11-19,'0001','0001')

  select * from PurchaseDetails
  insert into PurchaseDetails values(5,30,21-11-19,21-11-19,5,1000,1250,6250,'Hi')
    insert into PurchaseDetails values(5,32,21-11-19,21-11-19,5,1000,1250,6250,'Hi')