@model DotNetForever.Web.ViewModels.StockViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stock</h2><hr/>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-7">
        <form id="stockForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Category</label>
                        <div class="col-sm-8">
                            <select id="categoryId" name="categoryId" class="form-control" size="1">
                                <option value="">Select One</option>
                                @if (Model.Categories != null)
                                {
                                    foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                }


                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Product</label>
                        <div class="col-sm-8">
                            <select id="ProductId" name="ProductId" class="form-control" size="1">
                                <option value="" >Select One</option>

                            </select>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Start Date</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="startDate" name="startDate">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">End Date</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="endDate" name="endDate">
                        </div>
                    </div>

                    <button id="searchButton" type="button" class="btn btn-primary float-right"><i class="fas fa-search mr-2"></i>Search</button>

                </div>


            </div>
            <hr/>
        </form>
    </div>

    <div class="col-md-3">

    </div>

</div>

@{
    //Html.RenderAction("Listing");

    Html.RenderPartial("_Listing",Model.Stocks);
} 

<script src="~/Scripts/Validation/Stock.js"></script>
<script>
    $("#searchButton").click(function () {
        //document.getElementById("saveError").style.display = "none";
        alert("ds");
        $.ajax({
                type: "POSt",
                url: "/Stock/Search/",
                data: $("#stockForm").serialize()

        })
        .done(function (response) {
            if (response) {
                swal({
                        title: "search Successfully",
                        //text: "Once deleted, you will not be able to recover this imaginary file!",
                        icon: "success",
                        buttons: true,
                        dangerMode: true

                })
                .then((willDelete) => {
                    if (willDelete) {
                        window.location.reload();
                    }
                });

            } else {

            }

        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });


    });
</script>