
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Contents/css/StyleSheet1.css" rel="stylesheet" />

<div class="row mt-2">
    <div class=" offset-4 col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-info">
                <h3 class="widget-user-username">Khandokar Mahidy Hasan</h3>
                <h5 class="widget-user-desc">Team Leader</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle elevation-2" src="~/Contents/DeveloperPicture/kmhasan.jpg" width="140" height="140" alt="User Avatar">
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12 border-right">
                        <div class="description-block">
                            <span>SEID: 26 26 09</span><br/>
                            <span >Email: khasan142035@bscse.uiu.ac.bd </span><br/>
                            <span >Contact: 01749 79 60 54 </span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <span><a href="https://www.linkedin.com/in/kmhasanuiucse/"><i class="fab fa-linkedin mr-1"></i>LinkedIn</a></span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <span><a href="https://github.com/kmhasanuiucse"><i class="fab fa-github-square mr-1"></i>GitHub</a></span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div class="description-block">
                            <span><a href="https://gitlab.com/kmhasanuiucse"><i class="fab fa-gitlab mr-1"></i>GitLab</a></span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    
                </div>
               
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-info">
                <h3 class="widget-user-username">MD. Abdullah Sayket</h3>
                <h5 class="widget-user-desc">Team Member</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle elevation-2"  src="~/Contents/DeveloperPicture/sayket.jpg" alt="User Avatar">
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12 border-right">
                        <div class="description-block">
                            <span>SEID: 25 56 49</span><br/>
                            <span>Email: abdullahnoorsayket@gmail.com </span><br/>
                          

                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <span><a href="https://www.linkedin.com/in/abdullah-noor-sayket-b4b4a7166/"><i class="fab fa-linkedin mr-1"></i>LinkedIn</a></span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <span><a href="https://github.com/abduallahnoorsayket"><i class="fab fa-github-square mr-1"></i>GitHub</a></span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div class="description-block">
                            <span><a href="https://gitlab.com/AbdullahSayket"><i class="fab fa-gitlab mr-1"></i>GitLab</a></span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
    <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-info">
                <h3 class="widget-user-username">Tania Akther</h3>
                <h5 class="widget-user-desc">Team Member</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle elevation-2" src="~/Contents/DeveloperPicture/tania.png" width="140" height="140" alt="User Avatar">
            </div>
           
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12 border-right">
                        <div class="description-block">
                            <span>SEID: 26 30 42</span><br/>
                            <span>Email: taniaakther2113@gmail.com </span><br/>

                        </div>
                     </div>
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <span><a href="https://www.linkedin.com/in/tania-akther-60a394147/"><i class="fab fa-linkedin mr-1"></i>LinkedIn</a></span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <span><a href="https://github.com/Tania-Akther"><i class="fab fa-github-square mr-1"></i>GitHub</a></span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div class="description-block">
                            <span><a href="https://gitlab.com/taniaakther"><i class="fab fa-gitlab mr-1"></i>GitLab</a></span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                   
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
    <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-info">
                <h3 class="widget-user-username">Sadia Sharmin</h3>
                <h5 class="widget-user-desc">Team Member</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle elevation-2" src="~/Contents/DeveloperPicture/sadia.jpg" alt="User Avatar">
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12 border-right">
                        <div class="description-block">
                            <span>SEID:26 33 70 </span><br/>
                            <span>Email: sadiasharmin568@gmail.com </span><br/>

                        </div>
                    </div>
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <span><a href="https://www.linkedin.com/in/sadia-sharmin-24ab44141/"><i class="fab fa-linkedin mr-1"></i>LinkedIn</a></span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <span><a href="https://github.com/Sadia-Sharmin"><i class="fab fa-github-square mr-1"></i>GitHub</a></span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div class="description-block">
                            <span><a href="https://gitlab.com/Sharmin02"><i class="fab fa-gitlab mr-1"></i>GitLab</a></span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
</div>
